aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
anyio 
argon2-cffi 
argon2-cffi-bindings 
arrow
asgiref==3.8.1
asttokens 
async-lru 
attrs 
autograd==1.7.0
autograd-gamma==0.5.0
babel 
beautifulsoup4 
bleach 
branca==0.8.0
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer 
click==8.1.7
colorama 
comm 
contourpy==1.3.0
cramjam==2.9.0
cycler==0.12.1
debugpy 
decorator 
defusedxml 
Django==5.1.3
einops==0.8.0
entrypoints 
et_xmlfile==2.0.0
exceptiongroup 
executing
fastjsonschema
fastparquet==2024.5.0
filelock==3.16.1
folium==0.18.0
fonttools==4.54.1
formulaic==1.0.2
fqdn 
frozenlist==1.5.0
fsspec==2024.10.0
gensim==4.3.3
geopandas==1.0.1
greenlet==3.1.1
h11 
h2 
h5py==3.12.1
hpack==4.0.0
httpcore 
httpx 
hyperframe 
idna 
importlib_metadata 
importlib_resources 
interface-meta==1.3.0
ipykernel 
ipython 
ipywidgets==8.1.5
isoduration 
jedi 
Jinja2 
joblib==1.4.2
json5 
jsonpointer==2.0
jsonschema 
jsonschema-specifications 
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lifelines==0.30.0
lightgbm==4.5.0
lightning-utilities==0.11.8
lxml==5.3.0
MarkupSafe 
matplotlib==3.9.2
matplotlib-inline
mistune 
mkl-service
mkl_fft 
mkl_random 
mpmath==1.3.0
multidict==6.1.0
nbclient 
nbconvert 
nbformat 
nest_asyncio 
networkx==3.4.2
nltk==3.9.1
notebook 
notebook_shim 
numexpr 
numpy==1.26.4
openpyxl==3.1.5
overrides 
packaging 
pandas==2.2.3
pandocfilters 
parso 
patsy==0.5.6
pickleshare 
pillow==11.0.0
pkgutil_resolve_name 
platformdirs 
progressbar2==4.5.0
prometheus_client 
prompt_toolkit 
propcache==0.2.0
psutil 
pure_eval 
py-cpuinfo 
pyarrow==18.0.0
pycparser 
pygam==0.9.1
Pygments 
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.7.0
PySocks 
python-dateutil 
python-json-logger 
python-utils==3.9.0
pytorch-lightning==2.4.0
pytz 
pywin32
pywinpty 
PyYAML 
pyzmq 
referencing 
regex==2024.11.6
requests 
rfc3339-validator 
rfc3986-validator 
rpds-py 
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.11.4
seaborn==0.13.2
Send2Trash 
setuptools==75.1.0
shapely==2.0.6
six 
smart-open==7.0.5
sniffio 
soupsieve 
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data 
statsmodels==0.14.4
sympy==1.13.1
tables 
terminado 
threadpoolctl==3.5.0
tinycss2 
tomli 
tqdm==4.67.0
types-python-dateutil 
typing-utils 
typing_extensions
tzdata==2024.2
uri-template 
urllib3 
wcwidth 
webcolors 
webencodings 
websocket-client
wheel==0.44.0
widgetsnbextension==4.0.13
win_inet_pton 
wrapt==1.17.0
xgboost==2.1.2
xyzservices==2024.9.0
yarl==1.17.1
zipp 
zstandard 
